* {
  background-color: #e8e69d;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #FFFF;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #e8e69d;
    height: 80px; 
    line-height: 80px;
    margin-bottom: 50px; /* Add more space below the header */
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75vh; /* Adjusts dynamically based on viewport height */
}
.post-base {
    position: absolute;
    margin-top: 20px;
    bottom: 300px;
    left: 50%;
    width: 200px;
    height: 20px;
    background-color: #000000;
    transform: translateX(-50%);
}
.post-vertical {
    position: absolute;
    margin-top: 20px;
    bottom: 300px;
    left: 50%;
    width: 20px;
    height: 300px;
    background-color: #000000;
    transform: translateX(-50%);
}

.post-horizontal {
  position: absolute;
  bottom: calc(300px + 300px); /* Aligns with the top of the vertical post */
  left: calc(50% + 56px - 11px); /* Shifted to the right of the vertical post */
  width: 110px;
  height: 20px;
  background-color: #000000;
  transform: translateX(-50%);
}
.post-rope {
  position: absolute;
  bottom: calc(300px + 300px - 51px); /* Aligns with the top of the horizontal post */
  left: calc(50% + 99px - 5px); /* Shifted to the right of the horizontal post */
  width: 11px;
  height: 51px;
  background-color: #000000;
  transform: translateX(-50%);
}
.figure-head {
    width: 50px;
    height: 50px;
    bottom: calc(300px + 310px - 51px - 50px); /* Positioned just below the rope */
    left: calc(50% + 95px - 25px); /* Centered under the rope */
    position: absolute;
    border: 5px solid #000;
    border-radius: 50%;
    background-color: rgb(146, 95, 166);
    margin: 0 auto;
}
.figure-body {
    width: 13px;
    height: 95px;
    bottom: calc(300px + 320px - 51px - 50px - 100px); /* Positioned below the head */
    left: calc(50% + 94.5px - 5px); /* Centered under the head */
    position: absolute;
    background-color: rgb(146, 95, 166);
    border: 3px solid #000;
}
.figure-leg-left {
    width: 70px;
    height: 10px;
    bottom: calc(300px + 290px - 51px - 50px - 70px); 
    left: calc(50% + 98px - 75px); /* Positioned to the left of the body */
    position: absolute;
    background-color: rgb(146, 95, 166);
    transform: rotate(-45deg);
    transform-origin: right;
    border: 3px solid #000;
}
.figure-leg-right {
    width: 70px;
    height: 10px;
    bottom: calc(300px + 290px - 51px - 50px - 70px);
    left: calc(50% + 99px); /* Positioned to the right of the body */
    position: absolute;
    background-color: rgb(146, 95, 166);
    transform: rotate(45deg);
    transform-origin: left;
    border: 3px solid #000;
}
.figure-arm-left {
    width: 70px;
    height: 10px;
    bottom: calc(300px + 290px - 51px - 50px - 10px); 
    left: calc(50% + 84px - 65px); /* Positioned to the left of the body */
    position: absolute;
    background-color: rgb(146, 95, 166);
    transform: rotate(45deg);
    transform-origin: right;
    border: 3px solid #000;
}
.figure-arm-right {
    width: 70px;
    height: 10px;
    bottom: calc(300px + 290px - 51px - 50px - 10px); 
    left: calc(50% + 103px); /* Positioned to the right of the body */
    position: absolute;
    background-color: rgb(146, 95, 166);
    transform: rotate(-45deg);
    transform-origin: left;
    border: 3px solid #000;
}
/* Initially hide all figure parts */
.figure-head,
.figure-body,
.figure-arm-left,
.figure-arm-right,
.figure-leg-left,
.figure-leg-right {
  display: none;
}
.word-display {
  color: black;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 15px;
  margin-bottom: 20px;
  position: absolute;
  bottom: 180px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
main {
    text-align: center;
    margin-top: 50px;
    padding-top: 100px;
}
button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgb(146, 95, 166);
    color: white; 
    transition: background-color 0.3s;
}
button:hover {
    background-color: #e486c9;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.word {
    font-size: 24px;
    letter-spacing: 10px; 
    margin-bottom: 20px;
}
.status {
    font-size: 18px;
    margin-top: 20px;
}  
.alert-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 
.alert-box p {
    font-size: 20px;
    background-color: white;
    margin-bottom: 20px;
}
.alert-box button {
    padding: 10px 20px;
    font-size: 16px;
}