* {
  background-color: #e8e69d;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #FFFF;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: #e8e69d;
    border-radius: 8px; 
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 450px;
}
.post-base {
    position: absolute;
    margin-top: 20px;
    bottom: 300px;
    left: 50%;
    width: 200px;
    height: 20px;
    background-color: #000000;
    transform: translateX(-50%);
}
.post-vertical {
    position: absolute;
    margin-top: 20px;
    bottom: 300px;
    left: 50%;
    width: 20px;
    height: 300px;
    background-color: #000000;
    transform: translateX(-50%);
}
.post-horizontal {
  position: absolute;
  bottom: calc(300px + 300px); /* Aligns with the top of the vertical post */
  left: calc(50% + 56px - 11px); /* Shifted to the right of the vertical post */
  width: 110px;
  height: 20px;
  background-color: #000000;
  transform: translateX(-50%);
}
.post-rope {
  position: absolute;
  bottom: calc(300px + 300px - 51px); /* Aligns with the top of the horizontal post */
  left: calc(50% + 99px - 5px); /* Shifted to the right of the horizontal post */
  width: 11px;
  height: 51px;
  background-color: #000000;
  transform: translateX(-50%);
}
.figure-head {
    width: 50px;
    height: 50px;
    bottom: calc(300px + 310px - 51px - 50px); /* Positioned just below the rope */
    left: calc(50% + 95px - 25px); /* Centered under the rope */
    position: absolute;
    border: 5px solid #000;
    border-radius: 50%;
    background-color: rgb(146, 95, 166);
    margin: 0 auto;
}
.word-display {
    color: #e486c9;
    font-size: 45px;
    letter-spacing: 15px;
    margin-bottom: 20px;
    position: relative;
    justify-content: center;
    left: 30%;
    position: absolute;
    bottom: 180px;

}
main {
    text-align: center;
    margin-top: 50px;
}
button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: rgb(146, 95, 166);
    color: white; 
    transition: background-color 0.3s;
}
button:hover {
    background-color: #e486c9;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.word {
    font-size: 24px;
    letter-spacing: 10px; 
    margin-bottom: 20px;
}
.status {
    font-size: 18px;
    margin-top: 20px;
}   