body {
    font-family: Arial, sans-serif;
    background-color: #FFFF;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px; 
}
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 450px;
}
.post-base {
    position: absolute;
    bottom: 500px;
    left: 50%;
    width: 200px;
    height: 20px;
    background-color: #8B4513;
    transform: translateX(-50%);
}
.post-vertical {
    position: absolute;
    bottom: 520px;
    left: 50%;
    width: 20px;
    height: 300px;
    background-color: #8B4513;
    transform: translateX(-50%);
}
.post-horizontal {
    position: absolute;
    bottom: 800px;
    left: 1010px;
    width: 105px;
    height: 20px;
    background-color: #8B4513;
    transform: translateX(-50%);
}
.post-rope {
    position: absolute;
    bottom: 750px;
    left: 1057px;
    width: 11px;
    height: 51px;
    background-color: #8B4513;
    transform: translateX(-50%);
}

main {
    text-align: center;
    margin-top: 50px;
}
button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white; 
    transition: background-color 0.3s;
}
button:hover {
    background-color: #45a049;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.word {
    font-size: 24px;
    letter-spacing: 10px; 
    margin-bottom: 20px;
}
.status {
    font-size: 18px;
    margin-top: 20px;
}   